extends layout

block content
  div(class="row")
    div(class="col-xs-8 col-xs-offset-2")
      input(type="text" class="inline-form" placeholder="Filter by user" id="userFilter")
      table(class="table table-striped table-responsive")
        thead()
          tr()
            th() Time
            th() User
            th() Type
            th() Hits
            th() Query
        tbody()
        each search in searchData
          tr()
            td() #{search.time}
            td(class='user-name') #{search.user}
            td() #{search.type}
            td() #{search.count}
            td() #{search.search}

  script(src="../javascripts/admin_client.js")
  script(src="../javascripts/jquery.filtertable.js")
